<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td><label for="extra_points_made_Home">extra_points_made_Home:</label></td>
      <td><input type="text" id="extra_points_made_Home" name="extra_points_made_Home" value="2.621"></td>
    </tr>
    <tr>
      <td><label for="field_goals_made_Home">field_goals_made_Home:</label></td>
      <td><input type="text" id="field_goals_made_Home" name="field_goals_made_Home" value="1.273"></td>
    </tr>
    <tr>
      <td><label for="overtime_Home">overtime_Home:</label></td>
      <td><input type="text" id="overtime_Home" name="overtime_Home" value="0.04545"></td>
    </tr>
    <tr>
      <td><label for="pass_touchdowns_Home">pass_touchdowns_Home:</label></td>
      <td><input type="text" id="pass_touchdowns_Home" name="pass_touchdowns_Home" value="2.045"></td>
    </tr>
    <tr>
      <td><label for="pass_yards_Home">pass_yards_Home:</label></td>
      <td><input type="text" id="pass_yards_Home" name="pass_yards_Home" value="255.5"></td>
    </tr>
    <tr>
      <td><label for="pass_yards_per_attempt_Home">pass_yards_per_attempt_Home:</label></td>
      <td><input type="text" id="pass_yards_per_attempt_Home" name="pass_yards_per_attempt_Home" value="7.188"></td>
    </tr>
    <tr>
      <td><label for="points_scored_Home">points_scored_Home:</label></td>
      <td><input type="text" id="points_scored_Home" name="points_scored_Home" value="25.74"></td>
    </tr>
    <tr>
      <td><label for="quarterback_rating_Home">quarterback_rating_Home:</label></td>
      <td><input type="text" id="quarterback_rating_Home" name="quarterback_rating_Home" value="90.17"></td>
    </tr>
    <tr>
      <td><label for="rush_attempts_Home">rush_attempts_Home:</label></td>
      <td><input type="text" id="rush_attempts_Home" name="rush_attempts_Home" value="25.62"></td>
    </tr>
    <tr>
      <td><label for="rush_touchdowns_Home">rush_touchdowns_Home:</label></td>
      <td><input type="text" id="rush_touchdowns_Home" name="rush_touchdowns_Home" value="0.9242"></td>
    </tr>
    <tr>
      <td><label for="rush_yards_Home">rush_yards_Home:</label></td>
      <td><input type="text" id="rush_yards_Home" name="rush_yards_Home" value="107.6"></td>
    </tr>
    <tr>
      <td><label for="rush_yards_per_attempt_Home">rush_yards_per_attempt_Home:</label></td>
      <td><input type="text" id="rush_yards_per_attempt_Home" name="rush_yards_per_attempt_Home" value="4.15"></td>
    </tr>
    <tr>
      <td><label for="third_down_attempts_Home">third_down_attempts_Home:</label></td>
      <td><input type="text" id="third_down_attempts_Home" name="third_down_attempts_Home" value="12.79"></td>
    </tr>
    <tr>
      <td><label for="third_down_conversions_Home">third_down_conversions_Home:</label></td>
      <td><input type="text" id="third_down_conversions_Home" name="third_down_conversions_Home" value="5.621"></td>
    </tr>
    <tr>
      <td><label for="extra_points_made_Away">extra_points_made_Away:</label></td>
      <td><input type="text" id="extra_points_made_Away" name="extra_points_made_Away" value="2.5"></td>
    </tr>
    <tr>
      <td><label for="field_goals_made_Away">field_goals_made_Away:</label></td>
      <td><input type="text" id="field_goals_made_Away" name="field_goals_made_Away" value="1.591"></td>
    </tr>
    <tr>
      <td><label for="overtime_Away">overtime_Away:</label></td>
      <td><input type="text" id="overtime_Away" name="overtime_Away" value="0.04545"></td>
    </tr>
    <tr>
      <td><label for="pass_touchdowns_Away">pass_touchdowns_Away:</label></td>
      <td><input type="text" id="pass_touchdowns_Away" name="pass_touchdowns_Away" value="1.818"></td>
    </tr>
    <tr>
      <td><label for="pass_yards_Away">pass_yards_Away:</label></td>
      <td><input type="text" id="pass_yards_Away" name="pass_yards_Away" value="253.7"></td>
    </tr>
    <tr>
      <td><label for="pass_yards_per_attempt_Away">pass_yards_per_attempt_Away:</label></td>
      <td><input type="text" id="pass_yards_per_attempt_Away" name="pass_yards_per_attempt_Away" value="7.521"></td>
    </tr>
    <tr>
      <td><label for="points_scored_Away">points_scored_Away:</label></td>
      <td><input type="text" id="points_scored_Away" name="points_scored_Away" value="23.91"></td>
    </tr>
    <tr>
      <td><label for="quarterback_rating_Away">quarterback_rating_Away:</label></td>
      <td><input type="text" id="quarterback_rating_Away" name="quarterback_rating_Away" value="91.58"></td>
    </tr>
    <tr>
      <td><label for="rush_attempts_Away">rush_attempts_Away:</label></td>
      <td><input type="text" id="rush_attempts_Away" name="rush_attempts_Away" value="24.91"></td>
    </tr>
    <tr>
      <td><label for="rush_touchdowns_Away">rush_touchdowns_Away:</label></td>
      <td><input type="text" id="rush_touchdowns_Away" name="rush_touchdowns_Away" value="0.7424"></td>
    </tr>
    <tr>
      <td><label for="rush_yards_Away">rush_yards_Away:</label></td>
      <td><input type="text" id="rush_yards_Away" name="rush_yards_Away" value="91.65"></td>
    </tr>
    <tr>
      <td><label for="rush_yards_per_attempt_Away">rush_yards_per_attempt_Away:</label></td>
      <td><input type="text" id="rush_yards_per_attempt_Away" name="rush_yards_per_attempt_Away" value="3.676"></td>
    </tr>
    <tr>
      <td><label for="third_down_attempts_Away">third_down_attempts_Away:</label></td>
      <td><input type="text" id="third_down_attempts_Away" name="third_down_attempts_Away" value="13.15"></td>
    </tr>
    <tr>
      <td><label for="third_down_conversions_Away">third_down_conversions_Away:</label></td>
      <td><input type="text" id="third_down_conversions_Away" name="third_down_conversions_Away" value="5.742"></td>
    </tr>
    <tr>
      <td><label for="datetime_Home">datetime_Home:</label></td>
      <td><input type="text" id="datetime_Home" name="datetime_Home" value="2021-12-19" ></td>
    </tr>
    <tr>
      <td><label for="opponent_name_Away">opponent_name_Away:</label></td>
      <td><input type="text" id="opponent_name_Away" name="opponent_name_Away" value="TAM" ></td>
    </tr>
    <tr>
      <td><label for="opponent_name_Home">opponent_name_Home:</label></td>
      <td><input type="text" id="opponent_name_Home" name="opponent_name_Home" value="NOR" ></td>
    </tr>
  </tbody>
</table>