{% extends 'HomeFieldAdvantage/navbar.html'%} {% load static%}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'HomeFieldAdvantage/css/vector.css' %}" type="text/css">
{% endblock %} 
{% block content %} {% load static %}

<form action="" method="post" novalidate>
    {% csrf_token %}
    <table>
        <div class = "floatChild">
            {% include 'HomeFieldAdvantage/Home_vector.html' %}
        </div>
        <div class = "floatChild">
            {% include 'HomeFieldAdvantage/Away_vector.html' %}
        </div>
        <input type="submit" name="addVec" value="addVec" class="submit">
    </table>
</form>
    {% endblock content %}
